
body {
  /*background-color: red;*/
}

textarea#inputText {
  width: 500px;
  height: 400px;
}

#options {
  margin-top: 20px;
  margin-bottom: 20px;
}

#markedOutput {
  font-family: monospace;
  white-space: pre;
}

.outputLine {

}

.outputLineFragment {
  display: inline-block;
  border: 2px solid #e95;
  padding: 2px 8px;
  margin: 4px 4px;

}
